<h1>Users</h1>
<button id="getuser" class="btn btn-info">Get Users</button>
<div id="userList">

</div>
<script>
    $("#getuser").click(() => {
        $.ajax({
            url: 'https://randomuser.me/api/?results=3  ',
            dataType: 'json',
            success: function (data) {
                showContent("users", "userList", data);
            }
        });
    })
</script>