<div>
    {{#each results}}
    <div class="items" style="padding:10px;">
        <img style="border-radius:50%" src={{picture.thumbnail}}>
        <span class="name">{{name.first}}</span>
    </div>
    {{/each}}
</div>